.logoLogin {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 20px; }

.loginForm {
  background-color: #08375c;
  width: 400px;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .loginForm .title {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold; }
  .loginForm .form-group {
    margin-bottom: 15px; }
  .loginForm label {
    text-align: center; }
  .loginForm input {
    text-align: center; }
  .loginForm button {
    width: 200px;
    margin-top: 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .loginForm .message {
    color: #FFF;
    text-align: center;
    margin-top: 30px; }

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Roboto';
  min-height: 100vh;
  min-width: 100vw; }
  body.menuDisplay {
    overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none !important;
  cursor: pointer; }

.material-icons {
  vertical-align: middle; }

.notDragImage {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.sectionTitle {
  text-transform: uppercase;
  font-size: 30px;
  border-left: 8px solid #f3971b;
  padding-left: 10px;
  margin-bottom: 40px;
  color: #666; }

.alert {
  text-align: center; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 60px;
  flex-basis: 60px;
  border-bottom: 1px solid #ccc;
  background: #FFF;
  z-index: 10;
  margin-bottom: 30px; }
  .header .logo {
    margin: 0px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 150px;
    flex: 0 1 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .logo img {
      max-height: 100%;
      max-width: 100%; }
  .header .nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .header .nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .header .nav .toggleButton {
      display: none; }
    .header .nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      font-size: 12px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .header .nav > ul > li {
        position: relative;
        text-transform: uppercase;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto; }
        .header .nav > ul > li:hover ul {
          height: auto;
          opacity: 1; }
        .header .nav > ul > li > a {
          display: block;
          padding: 5px 10px;
          font-weight: bold;
          text-align: center;
          color: #666; }
          .header .nav > ul > li > a.submenu:after {
            content: 'keyboard_arrow_down';
            font-family: 'Material Icons';
            text-transform: none;
            position: relative;
            top: 2px; }
        .header .nav > ul > li > ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          width: 100%;
          height: 0;
          overflow: hidden;
          top: 100%;
          border: 1px solid #ccc;
          border-top: 1px solid #FFF;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-transition: opacity ease .3s;
          -o-transition: opacity ease .3s;
          transition: opacity ease .3s;
          opacity: 0; }
          .header .nav > ul > li > ul > li {
            font-size: .8em;
            border-bottom: 1px dashed #ccc;
            background: #FFF;
            -webkit-transition: background ease .3s;
            -o-transition: background ease .3s;
            transition: background ease .3s; }
            .header .nav > ul > li > ul > li:last-child {
              border-bottom: none; }
            .header .nav > ul > li > ul > li:hover {
              background: #eee; }
            .header .nav > ul > li > ul > li > a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: 100%;
              padding: 5px 10px;
              color: #666;
              min-height: 40px; }
  .header #toggleButtons {
    display: none; }

@media (max-width: 991px) {
  body {
    padding-top: 55px; }
  .header {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9); }
    .header .nav {
      position: fixed;
      height: calc(100vh - 45px);
      width: 250px;
      top: 45px;
      background: pink;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      left: -100%;
      -webkit-transition: left .5s ease;
      -o-transition: left .5s ease;
      transition: left .5s ease;
      background: #FFF;
      border-right: 1px solid #ccc;
      z-index: 10;
      overflow-y: scroll;
      border-right: 1px solid #f3971b; }
      .header .nav:before {
        content: '';
        position: fixed;
        z-index: 0;
        height: 100vh;
        width: 0;
        left: 100vw;
        background: rgba(247, 147, 30, 0.6);
        opacity: 0;
        -webkit-transition: opacity .5s .4s ease;
        -o-transition: opacity .5s .4s ease;
        transition: opacity .5s .4s ease; }
      .header .nav.show {
        left: 0; }
        .header .nav.show:before {
          width: calc(100vw - 250px);
          left: 250px;
          opacity: 1; }
      .header .nav .toggleButton {
        display: block;
        text-align: right;
        position: absolute;
        right: 0; }
        .header .nav .toggleButton .material-icons {
          font-size: 40px !important;
          color: rgba(247, 147, 30, 0.9); }
      .header .nav > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 50px; }
        .header .nav > ul > li {
          width: 100%;
          margin-top: 20px; }
          .header .nav > ul > li:hover ul {
            height: 0; }
          .header .nav > ul > li > a {
            text-align: left;
            color: rgba(247, 147, 30, 0.9); }
          .header .nav > ul > li > ul {
            height: 0;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            opacity: 1;
            border: none;
            -webkit-transition: height .3s ease;
            -o-transition: height .3s ease;
            transition: height .3s ease; }
            .header .nav > ul > li > ul.show {
              height: auto; }
            .header .nav > ul > li > ul > li {
              border: none;
              background: none; }
              .header .nav > ul > li > ul > li > a {
                text-align: left;
                padding-left: 30px;
                color: rgba(247, 147, 30, 0.9); }
    .header #toggleButtons {
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header #toggleButtons .toggleButton {
        height: 100%;
        border-left: 1px solid #ccc;
        width: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header #toggleButtons .toggleButton .material-icons {
          font-size: 15px; }
        .header #toggleButtons .toggleButton span {
          font-size: 8px; } }

.modal .modal-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #08375c; }

.badge {
  margin-left: 5px; }
  .badge.info {
    background-color: #08375c;
    color: #FFF; }
  .badge.danger {
    background-color: red;
    color: #FFF; }
  .badge.warning {
    background-color: #e5e500;
    color: #333; }
  .badge.success {
    background-color: green;
    color: #FFF; }
  .badge.infoInverse {
    background-color: #FFF;
    color: #08375c; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ccc;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  margin-top: 15px; }

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.form-group {
  height: 75px;
  position: relative; }
  .form-group .input-group.date input {
    background-color: #FFF;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

#filterForm {
  background-color: #08375c;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 1px #aaa;
  box-shadow: 0px 3px 5px 1px #aaa;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  #filterForm .toggleButton {
    display: none; }
  #filterForm .input-group.date {
    width: 100%; }
    #filterForm .input-group.date > input {
      border-radius: 10px !important; }
  #filterForm .multiselect-container {
    top: 30px; }
  #filterForm .form-group {
    height: 45px; }
    #filterForm .form-group > label {
      display: block;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #FFF;
      font-size: 12px; }
    #filterForm .form-group > input {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 5px 10px; }
    #filterForm .form-group input.datepicker {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 5px 10px; }
  @media (max-width: 991px) {
    #filterForm {
      border-radius: 0px;
      background-color: white;
      position: fixed;
      z-index: 1000;
      top: 45px;
      left: -321px;
      width: 321px;
      height: calc(100vh - 45px);
      overflow-y: scroll;
      overflow-x: auto;
      -webkit-transition: left .5s ease;
      -o-transition: left .5s ease;
      transition: left .5s ease;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 0px;
      padding-top: 50px;
      border-right: 1px solid #08375c; }
      #filterForm .form-group > label {
        color: #08375c; }
      #filterForm:before {
        content: '';
        position: fixed;
        z-index: 0;
        height: 100vh;
        width: 0;
        left: 100vw;
        background: rgba(8, 55, 92, 0.7);
        opacity: 0;
        -webkit-transition: opacity .5s .4s ease;
        -o-transition: opacity .5s .4s ease;
        transition: opacity .5s .4s ease; }
      #filterForm.show {
        left: 0; }
        #filterForm.show:before {
          width: calc(100vw - 250px);
          left: 321px;
          top: 45px;
          opacity: 1; }
      #filterForm .toggleButton {
        display: block;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0; }
        #filterForm .toggleButton .material-icons {
          font-size: 40px !important;
          color: rgba(247, 147, 30, 0.9); } }

.modal .normalForm form > .row:last-child {
  margin-top: auto; }

.modal p.deleteConfirmation {
  text-align: center;
  margin: 50px auto;
  font-size: 40px;
  color: #aaa; }

.modal .divider {
  margin-bottom: 30px;
  position: relative; }
  .modal .divider:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f3971b; }
  .modal .divider span {
    color: #FFF;
    font-weight: bold;
    background: #f3971b;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 16px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none; }

.no-form-group {
  position: relative;
  height: 40px;
  margin-bottom: 15px; }
  .no-form-group .title {
    position: absolute;
    z-index: 1;
    color: #aaa;
    font-weight: normal;
    display: block;
    width: 100%;
    font-size: 10px;
    top: -10px;
    left: 0px;
    margin-bottom: 5px; }
  .no-form-group .value {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid transparent;
    padding-left: 5px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }

.normalForm .imgContainer {
  text-align: center; }
  .normalForm .imgContainer > .img-responsive {
    display: inline-block;
    max-height: 200px; }
  .normalForm .imgContainer > .inputfile + label {
    width: 200px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.normalForm .imageModal {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  .normalForm .imageModal img {
    max-height: 150px;
    max-width: 100%; }

.normalForm .form-group {
  position: relative;
  height: 40px; }
  .normalForm .form-group > label {
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 5px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #ccc;
    font-weight: normal;
    display: block;
    width: 100%; }
  .normalForm .form-group > input, .normalForm .form-group > textarea {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #ccc;
    padding-left: 5px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .normalForm .form-group ::-webkit-input-placeholder {
    color: transparent; }
  .normalForm .form-group :-ms-input-placeholder {
    color: transparent; }
  .normalForm .form-group ::-ms-input-placeholder {
    color: transparent; }
  .normalForm .form-group ::placeholder {
    color: transparent; }
  .normalForm .form-group > .chartCounter {
    position: absolute;
    bottom: 0px;
    right: 0px; }
  .normalForm .form-group .top, .normalForm .form-group.completed > label, .normalForm .form-group.disabled > label, .normalForm .form-group.warning > label, .normalForm .form-group.error > label, .normalForm .form-group.focus > label, .normalForm .form-group .multiselect-native-select + label {
    font-size: 10px;
    top: -10px;
    left: 0px; }
  .normalForm .form-group .bottom-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
    margin-top: 2px; }
  .normalForm .form-group.disabled > label {
    color: #ccc; }
  .normalForm .form-group.disabled > input, .normalForm .form-group.disabled > textarea {
    border-bottom: 2px solid #ccc;
    color: #ccc; }
  .normalForm .form-group.disabled:before {
    font-family: 'Material Icons';
    content: 'https';
    position: absolute;
    color: #ccc;
    right: 0;
    font-size: 14px; }
  .normalForm .form-group.warning > label {
    color: #fefe00; }
  .normalForm .form-group.warning > input, .normalForm .form-group.warning > textarea {
    border-bottom: 2px solid #fefe00; }
  .normalForm .form-group.warning:before {
    font-family: 'Material Icons';
    content: 'warning';
    position: absolute;
    color: #fefe00;
    right: 0;
    font-size: 14px; }
  .normalForm .form-group.warning ::-webkit-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.warning :-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.warning ::-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.warning ::placeholder {
    color: #ccc; }
  .normalForm .form-group.error > label {
    color: red; }
  .normalForm .form-group.error > input, .normalForm .form-group.error > textarea {
    border-bottom: 2px solid red; }
  .normalForm .form-group.error:before {
    font-family: 'Material Icons';
    content: 'error';
    position: absolute;
    color: red;
    right: 0;
    font-size: 14px; }
  .normalForm .form-group.error ::-webkit-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.error :-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.error ::-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.error ::placeholder {
    color: #ccc; }
  .normalForm .form-group.focus > label {
    color: #08375c !important; }
  .normalForm .form-group.focus > input, .normalForm .form-group.focus > textarea {
    border-bottom: 2px solid #08375c !important; }
  .normalForm .form-group.focus:before {
    display: none; }
  .normalForm .form-group.focus ::-webkit-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.focus :-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.focus ::-ms-input-placeholder {
    color: #ccc; }
  .normalForm .form-group.focus ::placeholder {
    color: #ccc; }
  .normalForm .form-group .selectBtn {
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 2px solid #ccc;
    height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent; }
    .normalForm .form-group .selectBtn[aria-expanded='true'] {
      border-bottom: 2px solid #08375c; }
      .normalForm .form-group .selectBtn[aria-expanded='true'] + ul {
        top: 24px; }

.normalForm[disabled] {
  color: #ccc; }

.form-group.textArea {
  height: 40px;
  margin-top: 10px; }
  .form-group.textArea textarea {
    resize: none; }

.sbtn, .inputfile + label {
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  padding: 10px;
  display: block;
  text-align: center;
  min-height: 40px;
  opacity: .9; }
  .sbtn:hover, .inputfile + label:hover {
    opacity: 1; }
  .sbtn:active, .inputfile + label:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }
  .sbtn.submit, .inputfile + label {
    background-color: #f3971b;
    color: #FFF; }
  .sbtn.download, .inputfile + label.download {
    background-color: #676b6d;
    color: #FFF; }
  .sbtn.csv, .inputfile + label.csv {
    background-color: green;
    color: #FFF; }
  .sbtn.cancel, .inputfile + label.cancel {
    background-color: #ccc;
    color: #FFF; }
  .sbtn[disabled], .inputfile + label[disabled] {
    background-color: rgba(243, 151, 27, 0.8);
    color: #FFF;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    cursor: no-drop; }
    .sbtn[disabled].wait, .inputfile + label[disabled].wait {
      cursor: wait; }
  .sbtn.danger, .inputfile + label.danger {
    background-color: red;
    color: #FFF; }
  .sbtn.big, .inputfile + label.big {
    padding: 20px; }
  .sbtn i, .inputfile + label i {
    margin-right: 10px; }

.pagination > li > a, .pagination > li > span {
  color: #f3971b; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #f3971b !important;
  border: 1px solid #f3971b !important; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: rgba(243, 151, 27, 0.4); }

.pagination + p {
  text-align: right; }

.btn-group {
  width: 100%; }
  .btn-group .selectBtn {
    text-align: left;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #FFF;
    height: 32px;
    width: 100%;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .btn-group .selectBtn span {
      position: absolute;
      top: 49%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: calc(100% - 30px);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .btn-group .selectBtn .caret {
      position: absolute;
      right: 10px; }
    .btn-group .selectBtn[aria-expanded='true'] {
      border-radius: 3px 3px 3px 3px;
      border-bottom: 0px; }
  .btn-group .multiselect-container {
    padding-top: 10px;
    position: absolute;
    top: 24px;
    width: 100%;
    min-width: auto;
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .btn-group .multiselect-container li.selectedOption > a {
      background-color: #f3971b !important;
      color: #FFF !important; }
    .btn-group .multiselect-container a > label {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
  .btn-group .input-group-addon {
    display: none; }
  .btn-group .input-group-btn {
    display: none; }
  .btn-group .multiselect-filter > .input-group {
    width: calc(100% - 10px); }
  .btn-group .multiselect-container {
    border: 1px solid #ccc; }
    .btn-group .multiselect-container > li > a > label {
      padding-left: 25px !important; }
  .btn-group input[type=checkbox], .btn-group input[type=radio] {
    margin-top: 2px; }

.bootstrap-datetimepicker-widget {
  list-style: none; }
  .bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 19em; }
    .bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
      content: '';
      display: inline-block;
      position: absolute; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:before, .normalForm .form-group.completed > label.bootstrap-datetimepicker-widget.dropdown-menu:before, .normalForm .form-group.disabled > label.bootstrap-datetimepicker-widget.dropdown-menu:before, .normalForm .form-group.warning > label.bootstrap-datetimepicker-widget.dropdown-menu:before, .normalForm .form-group.error > label.bootstrap-datetimepicker-widget.dropdown-menu:before, .normalForm .form-group.focus > label.bootstrap-datetimepicker-widget.dropdown-menu:before, .multiselect-native-select + label.bootstrap-datetimepicker-widget.dropdown-menu:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      bottom: -7px;
      left: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:after, .normalForm .form-group.completed > label.bootstrap-datetimepicker-widget.dropdown-menu:after, .normalForm .form-group.disabled > label.bootstrap-datetimepicker-widget.dropdown-menu:after, .normalForm .form-group.warning > label.bootstrap-datetimepicker-widget.dropdown-menu:after, .normalForm .form-group.error > label.bootstrap-datetimepicker-widget.dropdown-menu:after, .normalForm .form-group.focus > label.bootstrap-datetimepicker-widget.dropdown-menu:after, .multiselect-native-select + label.bootstrap-datetimepicker-widget.dropdown-menu:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white;
      bottom: -6px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
      left: auto;
      right: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
      left: auto;
      right: 7px; }
  .bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0; }
  .bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0; }
    .bootstrap-datetimepicker-widget a[data-action]:active {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0; }
  .bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px; }
  .bootstrap-datetimepicker-widget .glyphicon {
    color: #f3971b; }
  .bootstrap-datetimepicker-widget .btn.btn-primary {
    background-color: #f3971b;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    .bootstrap-datetimepicker-widget .btn.btn-primary:hover {
      top: -2px;
      -webkit-box-shadow: 0px 2px 2px 1px #aaa;
      box-shadow: 0px 2px 2px 1px #aaa; }
    .bootstrap-datetimepicker-widget .btn.btn-primary:active {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95); }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Toggle AM/PM"; }
  .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Clear the picker"; }
  .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Set the date to today"; }
  .bootstrap-datetimepicker-widget .picker-switch {
    text-align: center; }
    .bootstrap-datetimepicker-widget .picker-switch::after {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
      content: "Toggle Date and Time Screens"; }
    .bootstrap-datetimepicker-widget .picker-switch td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit; }
      .bootstrap-datetimepicker-widget .picker-switch td span {
        line-height: 2.5;
        height: 2.5em;
        width: 100%; }
  .bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0; }
    .bootstrap-datetimepicker-widget table td {
      text-align: center;
      border-radius: 4px; }
    .bootstrap-datetimepicker-widget table th {
      text-align: center;
      border-radius: 4px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      color: #f3971b; }
      .bootstrap-datetimepicker-widget table th.picker-switch {
        width: 145px; }
      .bootstrap-datetimepicker-widget table th.disabled {
        background: none;
        color: #777777;
        cursor: not-allowed; }
        .bootstrap-datetimepicker-widget table th.disabled:hover {
          background: none;
          color: #777777;
          cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table th.prev::after {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        content: "Previous Month"; }
      .bootstrap-datetimepicker-widget table th.next::after {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        content: "Next Month"; }
    .bootstrap-datetimepicker-widget table thead tr:first-child th {
      cursor: pointer; }
      .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
        background: #eeeeee; }
    .bootstrap-datetimepicker-widget table td {
      height: 54px;
      line-height: 54px;
      width: 54px; }
      .bootstrap-datetimepicker-widget table td.cw {
        font-size: .8em;
        height: 20px;
        line-height: 20px;
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.day {
        height: 20px;
        line-height: 20px;
        width: 20px; }
        .bootstrap-datetimepicker-widget table td.day:hover {
          background: #eeeeee;
          cursor: pointer; }
      .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
        background: #eeeeee;
        cursor: pointer; }
      .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.today {
        position: relative; }
        .bootstrap-datetimepicker-widget table td.today:before {
          content: '';
          display: inline-block;
          border: solid transparent;
          border-width: 0 0 7px 7px;
          border-bottom-color: #f3971b;
          border-top-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 4px;
          right: 4px; }
      .bootstrap-datetimepicker-widget table td.active {
        background-color: #f3971b;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td.active:hover {
          background-color: #f3971b;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td.active.today:before {
          border-bottom-color: #fff; }
      .bootstrap-datetimepicker-widget table td.disabled {
        background: none;
        color: #777777;
        cursor: not-allowed; }
        .bootstrap-datetimepicker-widget table td.disabled:hover {
          background: none;
          color: #777777;
          cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table td span {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 54px;
        margin: 2px 1.5px;
        cursor: pointer;
        border-radius: 4px; }
        .bootstrap-datetimepicker-widget table td span:hover {
          background: #eeeeee; }
        .bootstrap-datetimepicker-widget table td span.active {
          background-color: #f3971b;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td span.old {
          color: #777777; }
        .bootstrap-datetimepicker-widget table td span.disabled {
          background: none;
          color: #777777;
          cursor: not-allowed; }
          .bootstrap-datetimepicker-widget table td span.disabled:hover {
            background: none;
            color: #777777;
            cursor: not-allowed; }
  .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px; }
  .bootstrap-datetimepicker-widget.wider {
    width: 21em; }
  .bootstrap-datetimepicker-widget .datepicker-decades .decade {
    line-height: 1.8em !important; }

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }

@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }

@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }

.input-group.date .input-group-addon {
  cursor: pointer; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

span.multiselect-native-select {
  position: relative; }
  span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px; }

.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .multiselect-container .input-group {
    margin: 5px; }
  .multiselect-container > li {
    padding: 0; }
    .multiselect-container > li > a.multiselect-all label {
      font-weight: 700; }
    .multiselect-container > li.multiselect-group label {
      margin: 0;
      padding: 3px 20px 3px 20px;
      height: 100%;
      font-weight: 700; }
    .multiselect-container > li.multiselect-group-clickable label {
      cursor: pointer; }
    .multiselect-container > li > a {
      padding: 0; }
      .multiselect-container > li > a > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 20px 3px 40px; }
        .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
          margin: 0; }
        .multiselect-container > li > a > label > input[type=checkbox] {
          margin-bottom: 5px; }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px; }

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -20px;
  margin-right: 0; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-weight: normal;
  font-size: 12px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: center; }
  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em; }

.ekko-lightbox-container {
  position: relative; }
  .ekko-lightbox-container > div.ekko-lightbox-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%; }

.ekko-lightbox iframe {
  width: 100%;
  height: 100%; }

.ekko-lightbox-nav-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }
  .ekko-lightbox-nav-overlay a {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    color: #fff;
    font-size: 30px;
    z-index: 1; }
    .ekko-lightbox-nav-overlay a > * {
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1; }
    .ekko-lightbox-nav-overlay a > \:focus {
      outline: none; }
    .ekko-lightbox-nav-overlay a span {
      padding: 0 30px; }
    .ekko-lightbox-nav-overlay a:last-child span {
      text-align: right; }
    .ekko-lightbox-nav-overlay a:hover {
      text-decoration: none; }
    .ekko-lightbox-nav-overlay a:focus {
      outline: none; }
    .ekko-lightbox-nav-overlay a.disabled {
      cursor: default;
      visibility: hidden; }

.ekko-lightbox a:hover {
  opacity: 1;
  text-decoration: none; }

.ekko-lightbox .modal-dialog {
  display: none; }

.ekko-lightbox .modal-footer {
  text-align: left; }

.ekko-lightbox-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }
  .ekko-lightbox-loader > div {
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center; }
    .ekko-lightbox-loader > div > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
      opacity: .6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: a 2s infinite ease-in-out;
      animation: a 2s infinite ease-in-out; }
      .ekko-lightbox-loader > div > div:last-child {
        -webkit-animation-delay: -1s;
        animation-delay: -1s; }

.modal-dialog .ekko-lightbox-loader > div > div {
  background-color: #333; }

@-webkit-keyframes a {
  0%, to {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes a {
  0%, to {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.galleryLightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px; }
  .galleryLightbox .imageContainer {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 50%; }
    .galleryLightbox .imageContainer img {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%;
      max-width: 150%;
      min-height: 100%; }
    .galleryLightbox .imageContainer .data {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #FFF;
      font-weight: bold; }

.table-responsive.empty:after {
  content: 'No se encontraron registros';
  display: block;
  text-align: center;
  font-weight: bold; }

.table {
  font-size: 10px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .table thead th {
    vertical-align: middle !important; }
  .table thead a {
    position: relative;
    color: inherit;
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: pointer !important; }
    .table thead a i {
      position: absolute;
      top: -2px;
      left: -2px; }
  .table tbody td {
    vertical-align: middle !important; }
  .table tbody a {
    color: inherit; }
  .table tbody i {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px; }
  .table.actions tr th:last-child, .table.actions tr td:last-child {
    width: 100px;
    text-align: center; }
  .table .material-icons {
    font-size: 16px; }

#table-partesProduccion th:nth-last-child(-n + 5), #table-partesProduccion td:nth-last-child(-n + 5) {
  text-align: center;
  border-left: 1px solid #ccc;
  width: 80px; }

#table-produccionMaquinaArmadora thead th:nth-last-child(-n + 7) {
  border-left: 1px solid #ccc; }

#table-produccionMaquinaArmadora thead th:nth-child(n + 2) {
  text-align: center; }

#table-produccionMaquinaArmadora tbody td:nth-last-child(-n + 7) {
  border-left: 1px solid #ccc; }

#table-produccionMaquinaArmadora tbody td:nth-child(n + 2) {
  text-align: center; }

#table-cajas th:nth-child(1), #table-cajas td:nth-child(1) {
  width: 100px; }

#table-cajas th:nth-child(4), #table-cajas td:nth-child(4) {
  width: 100px;
  text-align: center; }

#table-clientes th:nth-child(1), #table-clientes td:nth-child(1) {
  width: 100px; }

#table-clientes th:nth-child(3), #table-clientes td:nth-child(3) {
  width: 100px;
  text-align: center; }

#table-produccionTecnicoArmado th:nth-last-child(-n + 8), #table-produccionTecnicoArmado td:nth-last-child(-n + 8) {
  text-align: center;
  min-width: 70px;
  border-left: 1px solid #ccc; }

#table-produccionPacking th:nth-last-child(-n + 8), #table-produccionPacking td:nth-last-child(-n + 8) {
  text-align: center;
  min-width: 70px;
  border-left: 1px solid #ccc; }

#table-produccionClientes th:nth-last-child(-n + 7), #table-produccionClientes td:nth-last-child(-n + 7) {
  min-width: 70px;
  text-align: center;
  border-left: 1px solid #ccc; }

#table-informeProduccion th:nth-last-child(-n + 6), #table-informeProduccion td:nth-last-child(-n + 6) {
  text-align: center;
  min-width: 50px;
  border-left: 1px solid #ccc; }

.table-informesProduccionDetalle {
  margin-top: 0; }
  .table-informesProduccionDetalle thead th {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase; }
  .table-informesProduccionDetalle tbody td:nth-child(2) {
    text-align: right;
    width: 100px; }
  .table-informesProduccionDetalle tbody tr.title {
    font-weight: bold;
    font-size: 20px; }
    .table-informesProduccionDetalle tbody tr.title.big {
      text-align: right;
      font-size: 20px;
      text-transform: uppercase; }
  .table-informesProduccionDetalle tbody tr:not(.title) td:nth-child(1) {
    padding-left: 40px; }

#table-informesVisitas th:nth-last-child(-n + 4), #table-informesVisitas th:nth-child(2), #table-informesVisitas td:nth-last-child(-n + 4), #table-informesVisitas td:nth-child(2) {
  text-align: center; }

#table-empresas th:nth-last-child(-n + 4), #table-empresas td:nth-last-child(-n + 4) {
  text-align: center; }

#table-competencia th:last-child, #table-competencia td:last-child {
  text-align: center; }
  #table-competencia th:last-child .galleryLightbox, #table-competencia td:last-child .galleryLightbox {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

#table-cajasAceptadas th:first-child, #table-cajasAceptadas td:first-child {
  width: 100px; }

#table-cajasAceptadas th:nth-last-child(-n + 2), #table-cajasAceptadas td:nth-last-child(-n + 2) {
  text-align: center;
  width: 100px; }

.jefePacking {
  padding: 15px 15px 0px; }

.jefePacking:before {
  content: 'Jefe de Packing';
  display: block;
  margin-bottom: 15px; }

.jefePacking:nth-child(odd) {
  background: #eee; }

.detailBlock {
  border: 1px solid #08375c;
  position: relative;
  margin-bottom: 15px; }
  .detailBlock.approved:before, .detailBlock.unapproved:before {
    font-family: 'Material Icons';
    font-size: 100px;
    position: absolute;
    top: 50px;
    right: 0;
    display: inline-block;
    background-color: #FFF;
    line-height: 1;
    overflow: hidden;
    color: rgba(243, 151, 27, 0.2); }
  .detailBlock.approved:before {
    content: 'check_circle'; }
  .detailBlock.unapproved:before {
    content: 'remove_circle';
    color: rgba(255, 0, 0, 0.2); }
  .detailBlock.job {
    border-color: #f3971b; }
    .detailBlock.job .title {
      background-color: #f3971b; }
  .detailBlock .title {
    background-color: #08375c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px; }
    .detailBlock .title a {
      color: inherit;
      position: absolute;
      left: 0; }
  .detailBlock .plainData {
    margin: 0 15px 15px; }
  .detailBlock a {
    display: block; }

.masinfo {
  display: inline-block;
  background-color: #08375c;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer; }
  .masinfo:after {
    content: 'search';
    font-family: 'Material Icons';
    margin-left: 5px;
    line-height: 1;
    position: relative;
    top: 2px; }

.popover {
  width: 350px; }

.popoverTable {
  margin-top: 0; }

.linkEdit {
  display: block; }
  .linkEdit:after {
    font-family: 'material Icons';
    content: 'edit';
    margin-left: 5px; }

::scrollbar {
  display: none; }

#zonePercentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }
  #zonePercentage .zoneItem {
    border: 1px solid #ccc;
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    min-width: 300px;
    padding-bottom: 15px; }
    #zonePercentage .zoneItem .title {
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 15px; }
    #zonePercentage .zoneItem .chart {
      width: calc(100% - 150px); }
    #zonePercentage .zoneItem .data {
      width: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #zonePercentage .zoneItem .data span {
        text-align: center; }
        #zonePercentage .zoneItem .data span.name {
          text-transform: uppercase;
          font-weight: bold; }
        #zonePercentage .zoneItem .data span:nth-child(1), #zonePercentage .zoneItem .data span:nth-child(2) {
          color: #08375c; }
        #zonePercentage .zoneItem .data span:nth-child(3), #zonePercentage .zoneItem .data span:nth-child(4) {
          color: #f3971b; }
        #zonePercentage .zoneItem .data span:nth-child(3), #zonePercentage .zoneItem .data span:nth-child(5) {
          margin-top: 10px; }

#zonePercentageTotal {
  margin: 0 15px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  #zonePercentageTotal .chart {
    height: 175px;
    width: 350px;
    overflow: hidden; }
  #zonePercentageTotal .numberContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(100% - 350px);
    min-width: 150px; }
    #zonePercentageTotal .numberContainer .title {
      text-transform: uppercase;
      font-size: 30px;
      display: inline-block; }
    #zonePercentageTotal .numberContainer .number {
      font-size: 20px;
      display: inline-block; }
  #zonePercentageTotal .internal {
    color: #08375c; }
  #zonePercentageTotal .external {
    color: #f3971b; }
  @media (max-width: 700px) {
    #zonePercentageTotal .chart {
      width: 100%; }
    #zonePercentageTotal .numberContainer {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

#tabla-reporte-mermas thead {
  background: #08375c;
  color: #FFF; }
  #tabla-reporte-mermas thead tr:nth-child(2) th:first-child {
    text-align: center; }

#tabla-reporte-mermas th:nth-child(n + 2), #tabla-reporte-mermas td:nth-child(n + 2) {
  text-align: center;
  border-left: 1px solid #ccc; }

#tabla-reporte-mermas tr.family {
  font-weight: bold;
  text-transform: uppercase;
  background: #e6f3fd; }

#tabla-reporte-mermas tr.child td:first-child {
  padding-left: 30px; }

#tabla-reporte-mermas tr.total {
  font-weight: bold;
  text-transform: uppercase;
  background: #08375c;
  color: #FFF; }

#tabla-cajas-hotmelt th:nth-child(n + 2), #tabla-cajas-hotmelt td:nth-child(n + 2) {
  text-align: center;
  width: 100px;
  border-right: 1px solid #ccc; }

#tabla-cajas-hotmelt th:last-child, #tabla-cajas-hotmelt td:last-child {
  border-right: none;
  background: #e6f3fd;
  font-weight: bold; }

#tabla-cajas-hotmelt tfoot {
  font-weight: bold;
  background: #e6f3fd; }
  #tabla-cajas-hotmelt tfoot td:first-child {
    text-transform: uppercase;
    text-align: right; }

.headerDivider {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: #666;
  background-color: #eee; }
